<% if current_user %>
  <h4>Add comment:</h4>
  <%= form_for [post, post.comments.new], remote: true do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control', placeholder: "Enter a comment" %>
      <%= f.submit "Add Comment", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %> 
