
.social-btn{
  position: relative;
  margin-left: 180px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: darkcyan;
  font-family: Helvetica;
  text-align: center;
  color: white;
}

